body
{
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow: hidden;
    height: 100vh;
}   
.parentcard
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    
}
.card
{
    margin: 150px;
}
img
{
    border: 1px solid rgb(98, 3, 98);
    border-radius: 50px;
    height: 45px;
}
.parentInfo
{
    display: flex;
}
.information
{
    flex-direction: column;
}
h1
{
    margin: 0px;
    width: 200px;

}
.sousTitre
{
    margin: 0;
    width: 385px;
    margin-bottom: 85px;
}
.portrait
{
    position: relative;
    flex-direction: row;
}
.notation
{
   margin-left: 137px;
   position: relative;
}
.bordernotation
{
    background-color: #f7f1f5;
    border-radius: 9px;
    padding: 15px;
    margin: 20px;
}
.name
{
    margin: 0;
}
.city
{
    margin: 0;
}
.descriptionprofil
{
    margin: 0;
}
.profil1
{
    background-color: rgb(98, 3, 98);
    border-radius: 8px;
    position: absolute;
    width: 30%;
    right: 781px;
}
.profil2
{
    background-color: rgb(98, 3, 98);
    border-radius: 8px;
    position: absolute;
    width: 30%;
    left: 370px;
    top: 13px;

}
.profil3
{
    background-color: rgb(98, 3, 98);
    border-radius: 8px;
    position: absolute;
    width: 30%;
    left:770px;
    top: 25px;
}