body
{
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow: hidden;
    height: 100vh;
}   
.parentcard
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    
}
.card
{
    margin: 150px;
}
img
{
    border: 1px solid rgb(98, 3, 98);
    border-radius: 50px;
    height: 45px;
}
.parentInfo
{
    display: flex;
    justify-content: space-between;
}
.information
{
    margin-right: 147px;
}
h1
{
    margin: 0px;
    width: 200px;

}
.sousTitre
{
    margin: 0;
    width: 385px;
    margin-bottom: 85px;
}
.portrait
{
    display: flex;
    align-items: flex-start;
}
.headprofil
{
    display: flex;
}
.notation
{
   margin-right: 263px;
   flex-direction: column;
}
.bordernotation1
{
    background-color: #f7f1f5;
    border-radius: 9px;
    padding: 15px;
    margin: 20px;
    margin-right: 90px;
    flex-direction: row;
}
.bordernotation2
{
    background-color: #f7f1f5;
    border-radius: 9px;
    padding: 15px;
    margin: 20px;
    margin-left: 65px;
}
.bordernotation3
{
    background-color: #f7f1f5;
    border-radius: 9px;
    padding: 15px;
    margin: 20px;
    margin-left: 123px;
}
.name
{
    margin: 0;
    color: white;
    padding-left: 20px;
}
.city
{
    margin: 0;
    color: #d54f99;
}
.descriptionprofil
{
    margin: 0;
    color: white;
    padding-top: 20px;
}
.headsection
{
    display: flex;
}
.profil1
{
    background-color: rgb(98, 3, 98);
    border-radius: 8px;
    width: 30%;
    margin: 10px;
    padding: 45px;
}
.profil2
{
    background-color: rgb(98, 3, 98);
    border-radius: 8px;
    width: 30%;
    margin: 10px;
    padding: 45px;
    margin-top: 20px;
}
.profil3
{
    background-color: rgb(98, 3, 98);
    border-radius: 8px;
    width: 30%;
    margin: 10px;
    padding: 45px;
    margin-top: 30px;
}